* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    background-repeat: no-repeat;
    
}
html {
    font-size:62.5%;
}

a {
    text-decoration: none;
    color: #FFF;
}